<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" href="static/Login_portal_logo.jpeg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="static/calculatorstyle.css">
</head>

<body>
    <nav>
        <a href="/"><img src="static/logout-8.svg"  alt=""><p color="red" style="margin-right: -24px;">LOGOUT</p></a>
        
    </nav>
    <div class="set">
        <div class="cantainar">
            <input id="user" type="text">

            <div id="valuein">
                <button class="btn" id="btn1">7</button>
                <button class="btn" id="btn2">8</button>
                <button class="btn" id="btn3">9</button>
                <button class="btn" id="btn4">+</button>
                <button class="btn" id="btn5">4</button>
                <button class="btn" id="btn6">5</button>
                <button class="btn" id="btn7">6</button>
                <button class="btn" id="btn8">-</button>
                <button class="btn" id="btn9">1</button>
                <button class="btn" id="btn10">2</button>
                <button class="btn" id="btn11">3</button>
                <button class="btn" id="btn12">÷</button>
                <button class="btn" id="btn13">0</button>
                <button class="btn" id="btn14">X</button>
                <button class="btn" id="btn20">π</button>
                <button class="btn" id="btn16">=</button>
                <button class="btn" id="btn17">%</button>
                <button class="btn" id="btn18">^</button>
                <button class="btn" id="btn19">.</button>
                <button class="btn" id="btn15">AC</button>

            </div>



        </div>
    </div>


</body>
<script src="static/cal_js.js"></script>
<script src="https://cdn.lordicon.com/lordicon.js"></script>

</html>